.navBar {
  background-color: white;
}
.logo {
  width: 5rem;
}
.carrito {
  width: 2rem;
}
.listContainer {
  background-color: rgb(243, 243, 234);
}

.botones {
  min-width: 130px;
  height: 50px;
  color: rgb(93, 3, 3);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ff6392;
  box-shadow: 0 5px #f0a8c8;
  margin-bottom: 30px;
}
.botones:hover {
  box-shadow: 0 3px #ff0a78;
  top: 1px;
}
.botones:active {
  box-shadow: 0 0 #ff0a78;
  top: 5px;
}
.cards {
  background: linear-gradient(rgb(238, 158, 185), rgba(255, 192, 203, 0.76));
  border-radius: 10px;
  box-shadow:thistle;

}
/* footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  
} */