.navBar{
  background-color: white;
}
.logo{

width: 5rem;
}
.carrito{
  width: 2rem;
}
.listContainer{
  background-color: rgb(243, 243, 234);
}


.botones {
  min-width: 130px;
  height: 40px;
  color: rgb(44, 1, 1);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ff6392;
  box-shadow: 0 5px #ff0a78;
}
.botones:hover {
  box-shadow: 0 3px #ff0a78;
  top: 1px;
}
.botones:active {
  box-shadow: 0 0 #ff0a78;
  top: 5px;
}
